<div id="carousel-images" class="carousel slide p-4" data-ride="carousel">
    <ol class="carousel-indicators">
        {% for item in content.carousel_images %}
        <li data-target="#carousel-images" data-slide-to="{{ loop.index - 1 }}" class="{% if loop.index == 1 %}active{% endif %}"></li>
        {% endfor %}
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="row justify-content-center">
            <div class="col-md-6 py-5 ">

                {% for item in content.carousel_images %}
                    <div class="carousel-item  {% if loop.index == 1 %}active{% endif %}">
                        <div class="d-block text-center">
                            <img src ="{{ item.image }}" class="">
                            <h4>{{ item.title }}</h4>
                            <p>{{ item.text }}</p>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>

    </div>
    <a class="carousel-control-prev" href="#carousel-images" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-images" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
