<!-- Content Type: Copy Text -->
<div class = "container my-5">
    <div class = "row">
        <div class = "col-12 pt-4">
            {# TODO: check ACF table field docs and create responsive BS table here #}
            {# {% set table =  content.table %}
            {% if table %}
                <div class = "table-responsive">
                    <table class = "table">
                        {% if table[header] %}
                            <thead>
                                <tr>
                                    {% for header_item in table[header] %}
                                        <th>{{table["c"]}}</th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for body_row in table[body] %}
                                    <tr>
                                        <{% for body_column in body_row %}
                                            <td>{{body_column["c"]}}</td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        {% endif %}
                    </div>
                </div>
            {% endif %} #}
        </div>
    </div>
</div>