{# Choose base on which to extend this template #}
{% extends "base.twig" %}

{# Import macros for use in this template #}
{% import "mixins.twig" as mixin %}

{# Twig block to be included in Base.twig #}
{% block content %}
    <div class="wrapper 404-wrapper" id="page-wrapper" xmlns="http://www.w3.org/1999/html">
Hi

    </div><!-- #wrapper -->
{% endblock %}
