{# Choose base on which to extend this template #}
{% extends "base.twig" %}

{# Import macros for use in this template #}
{% import "mixins.twig" as mixin %}

{# Twig block to be included in Base.twig #}
{% block content %}
    <div class="wrapper contacts-wrapper background-secondary" id="page-wrapper" xmlns="http://www.w3.org/1999/html">
        <div class="container my-4 w-100">
            {{post.content}}
        </div> <!-- end container -->
    </div><!-- end #wrapper -->

    {# Embed footer template #}
    {% embed "embeds/footer.twig" %}{% endembed %}
{% endblock %}


