{# Choose base on which to extend this template #}
{% extends "base.twig" %}

{# Import macros for use in this template #}
{% import "mixins.twig" as mixin %}

{# Twig block to be included in Base.twig #}
{% block content %}
    <div class="wrapper login-wrapper" xmlns="http://www.w3.org/1999/html">
        <div class="container-fluid login-page">
            <div class="row ">
                <!-- Desktop sidebar -->
                <div class="col-sm-12 col-md-4 sidebar py-3">
                    <div class="text-center sidebar-img"><img class="img img-fluid" src="http://fundawande.org/wp-content/uploads/2017/09/cropped-cropped-logo-long-transparent-background.png"></div>
                    <h2 class="my-3 text-center">Teaching Reading for meaning</h2>
                    <div><p class="my-3">lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p> <p class = "my-3"> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>
                </div>
                <!-- Login Form -->
                <div class="col-sm-12 col-md-8 login py-3">
                    <div class="text-center login-header">
                        <img class="mx-auto img img-fluid" src="http://fundawande.org/wp-content/uploads/2017/09/cropped-cropped-logo-long-transparent-background.png">
                        <h1>Funda Wande</h1>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Choose Language
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">English</a>
                                <a class="dropdown-item" href="#">Xhosa</a>
                            </div>
                        </div>
                    </div>
                    <div class = "login-form">
                        <form>
                            <div class="form-group">
                                <label for="exampleInputEmail1">ID Address</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter ID Address">
                                <small id="emailHelp" class="form-text text-muted">We'll never share your ID number with anyone else.</small>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Password</label>
                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                        <div class="alert alert-danger my-3" role="alert">
                            The ID address you have entered is incorrect, please try again!
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- #wrapper -->
{% endblock %}
