{# Choose base on which to extend this template #}
{% extends "base.twig" %}

{# Import macros for use in this template #}
{% import "mixins.twig" as mixin %}

{# Twig block to be included in Base.twig #}
{% block content %}
    <div class="wrapper login-wrapper" xmlns="http://www.w3.org/1999/html">
        <div class="container-fluid login-page">
            <div class="row ">
                <!-- Desktop sidebar -->
                <div class="col-sm-12 col-md-4 sidebar py-3">
                    <div class="text-center sidebar-img"><img class="img img-fluid" src="http://fundawande.org/wp-content/uploads/2017/09/cropped-cropped-logo-long-transparent-background.png"></div>
                    <h2 class="my-3 text-center">{{ post.get_field(lang.prefix~'sidebar_title') }}</h2>
                    {{ post.get_field(lang.prefix~'sidebar_text') }}
                </div>
                <!-- Login Form -->
                <div class="col-sm-12 col-md-8 login py-3">
                    <div class="text-center login-header">
                        <img class="mx-auto img img-fluid" src="http://fundawande.org/wp-content/uploads/2017/09/cropped-cropped-logo-long-transparent-background.png">
                        <h1>Funda Wande</h1>
                        <form  class = "d-inline" method="GET">
                            <button class = "btn btn-primary m-3" type = "submit" name = "login-lang" value ="eng">Change Language</button>
                        </form>
                        <form  class = "d-inline" method="GET">
                            <button class = "btn btn-primary m-3" type = "submit" name = "login-lang" value ="xho">Tshintsha ulwimi</button>
                        </form>
                    </div>
                    <div class = "login-form text-center">
                        {% do action('show_login_form') %}
                        {% do action('check_for_failed_login') %}
                    </div>
                </div>
            </div>
        </div>
    </div><!-- #wrapper -->
{% endblock %}
