{# Choose base on which to extend this template #}
{% extends "base.twig" %}

{# Import macros for use in this template #}
{% import "mixins.twig" as mixin %}

{# Twig block to be included in Base.twig #}
{% block content %}
    <div id="page-wrapper" class="wrapper  background-secondary " xmlns="http://www.w3.org/1999/html">
        <div class="container card login-card my-4">
            <div class="row my-3">
                <!-- Login Form -->
                <div class="col-12 px-md-5 py-md-5 py-3">
                    <h1>Profile Page</h1>
                    <div class="row mt-4 ">
                        <div class="col-12">
                           <div class="card justify-content-between justify-content-center primary-border"> 
                            <div class="row  no-gutters">
                                <div class="col-md-6 p-4">

                                    <h2><b>Current course:</b> {{course.course_title}}</h2>
                                    <h6>Progress: {{course_progress}}%</h3>
                                </div>
                                <div class="col-md-6 p-4 text-md-right text-center">
                                    <a class = "button-primary primary-border primary-bg module-nav-button p-3 rounded d-inline-block" href="{{course.link}}">
                                    <p class = " mb-0" style="color:white">Go to course<img class = "p-2 " src = "/wp-content/themes/fundawande/assets/arrow_right.svg"></p></a>
                                </div>
                            </div>
                           </div>
                        </div>
                        
                    </div>
                    {% embed "embeds/profile_form.twig" %}

                    {% endembed %}
                </div>
            </div>
        </div>
    </div><!-- #wrapper -->
{% endblock %}
