<div id="downloadable-resources" class="container p-md-4 p-3">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center text-bold m-0">
                        Additional Resources
                    </h3>
                </div>
                <div class="card-body">
                    {% for content in lesson_post.get_field('downloadable_resources') %}
                        {% if content.acf_fc_layout == 'pdf' %}
                            {% include "lms/embeds/pdf-resource.twig" %}
                        {% endif %}
                        {% if content.acf_fc_layout == 'video' %}
                            {% include "lms/embeds/video-resource.twig" %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>