<!-- Lesson Content-->
<div class="container-fluid">
    <div class="row mb-5">
        {# Hero Band #}
        {% for content in lesson_post.get_field('lesson_hero_types') %}
            {# Image Hero #}
            {% if content.acf_fc_layout == 'image_hero' %}
                {% include '/lms/hero-types/image-hero.twig' %}
            {% endif %}
            {# Video Hero #}
            {% if content.acf_fc_layout == 'video_hero' %}
                {% include '/lms/hero-types/video-hero.twig' %}
            {% endif %}
        {% endfor %}
    </div>

    {# 
        Audio Player
        If an audio file has been added to the Lesson Audio ACF field, then the audioPlayerIcon mixin will be added to the lesson
    #}
    {% if lesson_post.get_field('lesson_audio') %}
        {% set file_name = lesson_post.get_field('lesson_audio') | trim %}
        <div class="container">
            <div class="row">
                <div class="col pl-3">
                    {{ mixin.audioPlayerIcon(media_url~file_name,sub_unit_meta.module_number) }}
                </div>
            </div>
        </div>
    {% endif %}

    {#
        This loop goes through all the ACF flexible content fields and embeds templates based upon the content types found in the lesson
     #}
    {% for content in lesson_post.get_field('lesson_content_types') %}

        {# Image Content Types #}

        {# Full width image#}
        {% if content.acf_fc_layout == 'image_full_width' %}
            {% include '/lms/content-types/image/image-full-width.twig' %}
            {# Container width image#}
        {% elseif content.acf_fc_layout == 'image_container_width' %}
            {% include '/lms/content-types/image/image-container-width.twig' %}
            {# Half Image #}
        {% elseif content.acf_fc_layout == 'image_half_width' %}
            {% include '/lms/content-types/image/image-half-width.twig' %}
            {# Pulled left image #}
        {% elseif content.acf_fc_layout == 'image_pulled_left' %}
            {% include '/lms/content-types/image/image-pulled-left.twig' %}
            {# Pulled right image #}
        {% elseif content.acf_fc_layout == 'image_pulled_right' %}
            {% include '/lms/content-types/image/image-pulled-right.twig' %}

        {# PDF Content Types #}
            {# PDF Container Width #}
        {% elseif content.acf_fc_layout == 'pdf_container_width' %}
            {% include  'lms/content-types/pdf/pdf-container-width.twig'%}
        {% elseif content.acf_fc_layout == 'pdf_pulled_left' %}
            {% include  'lms/content-types/pdf/pdf-pulled-left.twig'%}
        {% elseif content.acf_fc_layout == 'pdf_pulled_right' %}
            {% include  'lms/content-types/pdf/pdf-pulled-right.twig'%}

        {# Video Content Types #}

            {# Full width video #}
        {% elseif content.acf_fc_layout == 'video_full_width' %}
            {% include '/lms/content-types/video/video-full-width.twig' %}
            {# Container width video #}
        {% elseif content.acf_fc_layout == 'video_container_width' %}
            {% include '/lms/content-types/video/video-container-width.twig' %}
            {# Pulled left video #}
        {% elseif content.acf_fc_layout == 'video_pulled_left' %}
            {% include '/lms/content-types/video/video-pulled-left.twig' %}
            {# Pulled right video #}
        {% elseif content.acf_fc_layout == 'video_pulled_right' %}
            {% include '/lms/content-types/video/video-pulled-right.twig' %}
            {# Video Grid #}
        {% elseif content.acf_fc_layout == 'video_grid' %}
            {% include '/lms/content-types/video/video-grid.twig' %}

            {# Carousel content types# }

            {# Full width carousel with text #}
        {% elseif content.acf_fc_layout == 'carousel_full_width_with_text' %}
            {% include '/lms/content-types/carousel/carousel-full-width-with-text.twig' %}
            {# Full width carousel without text #}
        {% elseif content.acf_fc_layout == 'carousel_full_width_without_text' %}
            {% include '/lms/content-types/carousel/carousel-full-width-without-text.twig' %}
            {# Container width carousel with text #}
        {% elseif content.acf_fc_layout == 'carousel_container_width_with_text' %}
            {% include '/lms/content-types/carousel/carousel-container-width-with-text.twig' %}
            {# Container width carousel without text #}
        {% elseif content.acf_fc_layout == 'carousel_container_width_without_text' %}
            {% include '/lms/content-types/carousel/carousel-container-width-without-text.twig' %}
            {# Pulled left without text carousel #}
        {% elseif content.acf_fc_layout == 'carousel_pulled_left_without_text' %}
            {% include '/lms/content-types/carousel/carousel-pulled-left-without-text.twig' %}
            {# Pulled right without text carousel #}
        {% elseif content.acf_fc_layout == 'carousel_pulled_right_without_text' %}
            {% include '/lms/content-types/carousel/carousel-pulled-right-without-text.twig' %}
            {# Pulled left with text carousel #}
        {% elseif content.acf_fc_layout == 'carousel_pulled_left_with_text' %}
            {% include '/lms/content-types/carousel/carousel-pulled-left-with-text.twig' %}
            {# Pulled right with text carousel #}
        {% elseif content.acf_fc_layout == 'carousel_pulled_right_with_text' %}
            {% include '/lms/content-types/carousel/carousel-pulled-right-with-text.twig' %}

            {# Other Content Types #}

            {# Copy text #}
        {% elseif content.acf_fc_layout == 'copy_text' %}
            {% include '/lms/content-types/copy-text.twig' %}
        {% endif %}
    {% endfor %}
</div>