<div class="pdf">
    <a target="_blank" href="{{content.file}}">
        <img class="d-block pdf-image" src="{{ content.holding_image }}">
        <button class="pdf-text-container module-btn-fill-{{module_number}} p-2">
            {% if lang.id == 'eng' %}
                <span>{% if is_mobile %}Tap{% else %}Click{% endif %} to view PDF</span>
            {% else %}
                <span>{% if is_mobile %}Thepha ukujonga{% else %}Cofa ukuze ukhangele{% endif %} i-PDF</span>
            {% endif %}
        </button>
    </a>
</div>