
<div id="navigation-links">
    <div class="container pb-5">
        <div class="row my-0 justify-content-between">
            <div class="lesson-navigation-bottom col-12 col-md-auto text-center py-1 py-md-0">
                {% if sub_unit_meta.nav.prev %}
                    {% include "/lms/embeds/lesson-navigation/prev-lesson-button.twig" %}
                {% endif %}
            </div>
            <div class=" lesson-navigation-bottom col-12 col-md-auto text-center py-1 py-md-0">
                {% if quiz_retry %}
                    {% include "/lms/embeds/quiz-navigation/quiz-review-button.twig" %}
                    {% include "/lms/embeds/quiz-navigation/quiz-retry-button.twig" %}
                {% endif %}
                {% if quiz_resubmit and not quiz_retry and not lesson_complete %}
                    {% include "/lms/embeds/quiz-navigation/quiz-retry-button.twig" %}
                {% endif %}
                {% if lesson_complete %}
                    {% if sub_unit_meta.nav.next %}
                        {% for feedback in quiz_lesson.meta('end_of_lesson_feedback') %}
                            {# If a custom feedback message has been added for this lesson, fire a modal which displays the feedback before allowing the user to continue #}
                            {% if feedback.acf_fc_layout == 'custom_feedback_message' %}
                                {% include '/lms/embeds/modals/modal-end-lesson.twig' %}
                                {% include "/lms/embeds/lesson-navigation/next-nav-buttons.twig" %}
                            {# If a survey has been added for this lesson, fire a modal which displays the survey before allowing the user to continue #}
                            {% elseif feedback.acf_fc_layout == 'survey' %}
                                {% include '/lms/embeds/modals/modal-survey.twig' %}
                                {% include "/lms/embeds/lesson-navigation/next-nav-buttons.twig" %}
                            {% endif %}
                        {% endfor %}
                        {% if not quiz_lesson.meta('end_of_lesson_feedback') %}
                                {% include "/lms/embeds/lesson-navigation/next-nav-buttons.twig" %}
                        {% endif %}
                    {% else %}
                        {# If there is no next lesson then assume it is the last lesson of the course#}
                        {% include '/lms/embeds/modals/modal-end-course.twig' %}
                        {% include "/lms/embeds/lesson-navigation/end-course-button.twig" %} 
                    {% endif %}
                {% elseif (quiz_resubmit and not quiz_retry) or (quiz_retry and quiz_attempts > 3) %}
                    {% include "/lms/embeds/lesson-navigation/end-lesson-button.twig" %}
                {% endif %}
                {% if not lesson_complete and not quiz_resubmit and not quiz_retry %}
                    {% include "/lms/embeds/quiz-navigation/quiz-submit-button.twig" %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
