/* ==========================================================================
* Theme Global styling
*
* Define all global styling classes used in theme
*
 ========================================================================== */
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Backgrounds
# Typography
--------------------------------------------------------------*/

/*
 * Backgrounds
 */

.background-primary {  background-color: $white; }
.background-primary-light { }

.background-secondary {

    background-color: $grey-secondary;

}

.background-secondary-light {}



/*
 * Typography
 */

body {

    font-family: $base__font-family;
    font-size: 21px;
    weight: normal;
    line-height: 28px;
    color: $text-primary__colour;
    opacity: 100%;


    h1 {

        font-family: $base-header__font-family;
        font-size: 32px;
        weight: normal;
        line-height: 1.25; //Line height chosen by James - mockups had a line height of 28px so I amended in the code
        color: #4A4A4A;
        opacity: 100%;
    }

    h2, h3, h4, h5  {

        font-family: $base-header__font-family;
        font-size: 21px;
        weight: 500;
        line-height: 25px; //Line height chosen by James - mockups had a line height of 28px so I amended in the code
        color: $text-primary__colour;
        opacity: 100%;

    }


    p {

    }


    ul {



    }

    li {

    }

    hr {
        //below styles taking
        height: 2px;
        color: #cccccc;
        opacity: 0.5;
    }
}

    #page-wrapper {

        //Add margin to the top of the page wrapper to ensure the navbar does not cover any section of the top page bands
        padding-top: $navbar-height;

        @include breakpoint(phone) {
            padding-top: $navbar-height-mobile;
        }

}


//Module Background Classes
.module-bg-0 {
    background-color: $module0-primary__colour;
}

.module-bg-1 {
    background-color: $module1-primary__colour;
}

.module-bg-2 {
    background-color: $module2-primary__colour;
}

.module-bg-3 {
    background-color: $module3-primary__colour;
}

.module-bg-4 {
    background-color: $module4-primary__colour;
}

.module-bg-5 {
    background-color: $module5-primary__colour;
}

.module-bg-6 {
    background-color: $module6-primary__colour;
}

.module-bg-7 {
    background-color: $module7-primary__colour;
}

.module-bg-8 {
    background-color: $module8-primary__colour;
}

.module-bg-9 {
    background-color: $module9-primary__colour;
}

.module-bg-10 {
    background-color: $module10-primary__colour;
}

.module-bg-11 {
    background-color: $module11-primary__colour;
}

//Module Text Classes
.module-text-0 {
    color: $module0-primary__colour;
}

.module-text-1 {
    color: $module1-primary__colour;
}

.module-text-2 {
    color: $module2-primary__colour;
}

.module-text-3 {
    color: $module3-primary__colour;
}

.module-text-4 {
    color: $module4-primary__colour;
}

.module-text-5 {
    color: $module5-primary__colour;
}

.module-text-6 {
    color: $module6-primary__colour;
}

.module-text-7 {
    color: $module7-primary__colour;
}

.module-text-8 {
    color: $module8-primary__colour;
}

.module-text-9 {
    color: $module9-primary__colour;
}

.module-text-10 {
    color: $module10-primary__colour;
}

.module-text-11 {
    color: $module11-primary__colour;
}