/* ==========================================================================
* Theme areas
*
* Import the various ares defined for theme
*
 ========================================================================== */

@import "areas/footer";
@import "areas/home";
@import "areas/contacts";
@import "areas/video_player";
@import "areas/audio_player";
@import "areas/video_modal";
@import "areas/lms_modal";
@import "areas/login";
@import "areas/navbar";
@import "areas/forms";
@import "areas/single-quiz-questions";
@import "areas/single-course";
@import "areas/single-module";
@import "areas/single-lesson";
@import "areas/single-lesson-carousels";
@import "areas/single-lesson-modals";
@import "areas/main_menu_modal";
@import "areas/anno";
@import "areas/404";
@import "areas/global_inputs";
