/* ==========================================================================
* Theme SASS variables
*
* Define all variables used in theme
*
 ========================================================================== */
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Navbar
# Colour palette
# Typography
--------------------------------------------------------------*/


// Navbar
$navbar-height:                    60px;
$adminbar-height:                   32px;

// Hamburger Nav
$ham-button-width: 50px;                    // The width of the button area
$ham-button-height: 50px;                   // The height of the button area
$ham-bar-thickness: 6px;                    // The thickness of the button bars
$ham-button-pad: 8px;                      // The left/right padding between button area and bars.
$ham-button-bar-space: 10px;                // The spacing between button bars
$ham-button-transistion-duration: 0.1s;     // The transition duration

// Colour palette
$white : #ffffff;
$brand-primary__colour: #EF9D19;
$brand-secondary__colour: #231F20;
$module0-primary__colour: #327DA6;
$module1-primary__colour: #2B8933;
$module2-primary__colour: #61C436;
$module3-primary__colour: #E73E53;
$module4-primary__colour: #49A631;
$module5-primary__colour: #3DC4E4;
$module6-primary__colour: #FF9D45;
$module7-primary__colour: #F7B446;
$module8-primary__colour: #3BA9DC;
$module9-primary__colour: #FF5943;
$module10-primary__colour: #CB384A;
$module11-primary__colour: #FF7C43;
$coaching-primary__colour: #FED044;


// Typography
$base__font-size: 21px;
$base__header__font-family : Rubik, Verdana, Geneva, sans-serif;
$base__font-family : "Roboto Condensed", Verdana, Geneva, sans-serif;

