<!-- Content Type: Image Pulled Left -->
<div class = "container my-5">
    <hr>
    <div class = "row">
        <div class = "col-sm-12 col-md-6 pt-4">
            {{content.text}}
        </div>
        <div class = "col-sm-12 col-md-6 pt-4">
            <img class = "img-fluid" src = "{{media_url~content.image_file_name}}">
        </div>
    </div>
</div>
