<!-- Content Type: Image Half Width -->
<div class = "container my-5">
    <hr>
    <div class = "row">
        <div class = "col-sm-12 col-md-6 mx-auto text-center pt-4">
            <img class = "d-block" src ="{{ content.image }}">
        </div>
    </div>
</div>
