<!-- Content Type: Image Full Width -->
<div class = "container-fluid my-5 p-0">
    <hr>
    <div class = "row">
        <div class = "col-sm-12 px-0 pt-4">
            <img class = "d-block w-100" src = {{media_url~content.image_file_name}}>
        </div>
    </div>
</div>

