<div class = "container my-5">
    <hr>
    <div class = "row">
        <div class = "col-sm-12 text-center pt-4">
            <img class = "img-fluid w-100" src = {{content.image_url}}>
        </div>
    </div>
</div>
