<div class = "container-fluid my-5 p-0">
    <hr>
    <div class = "row">
        <div class = "col-sm-12 px-0 pt-4">
            <img class = "d-block w-100" src = {{content.image_url}}>
        </div>
    </div>
</div>

