<!-- Content Type: Image Full Width -->

<div class = "col-sm-12 px-0 pt-4">
    {% include "lms/content-types/image/image-content.twig" %}
    <h5 class="text-center mt-3">{{content.caption}}</h5>
</div>

