<!-- Content Type: Image Full Width -->
<div class = "container-fluid my-5 p-0">
    <hr>
    <div class = "row">
        <div class = "col-sm-12 px-0 pt-4">
            {# Remove whitespace from beginning and end of the file name before appending to media url #}
            {% set file_name =  content.image_file_name|trim %}
            <img class = "d-block lesson-carousel-image" src ="{{ media_url~file_name }}">
        </div>
    </div>
</div>

