<!-- Content Type: Image Pulled Right -->
<div class = "container my-5">
    <div class = "row">
        <div class = "col-sm-12 col-md-6 pt-4">
            <img class = "d-block" src ="{{ content.image }}">
        </div>
        <div class = "col-sm-12 col-md-6 pt-4">
            {{content.text}}
        </div>
    </div>
</div>
