<!-- Content Type: Image Half Width -->
<div class = "col-12 col-md-6 mx-auto pt-4">
    <img class = "d-block" src ="{{ content.image }}">
    <h5 class="text-center mt-3">{{content.caption}}</h5>
</div>
