<!-- Content Type: Image Pulled Left -->
<div class = "col-12 col-md-6 pt-4 fw-media">
    {% include "lms/content-types/image/image-content.twig" %}
    <h5 class="text-center mt-3">{{content.caption}}</h5>
</div>
<div class = "col-12 col-md-6 pt-4">
    {% include "lms/embeds/content/text-block.twig" %}
</div>
