<!-- Content Type: Image Full Width -->
<div class = "container-fluid my-5 p-0">
    <hr>
    <div class = "row">
        <div class = "col-sm-12 px-0 pt-4">
            <img class = "d-block" src ="{{ content.image }}">
        </div>
    </div>
</div>

