<div class="img-container">
    <img src ="{{ content.image }}">
    <a class="img-download-icon" href="{{content.image}}" download>
        <span class="module-svg-fill-{{sub_unit_meta.module_number}}">
            {{source('assets/download_icon.svg')}}
        </span>
    </a>
</div>   
