<!-- Content Type: Carousel Full Width Without Text -->
<div class = "col-12 px-0 pt-4">
    {% set carousel_id = "carousel-full-width-without-text" %}
    {% embed "lms/embeds/lesson-carousel.twig" %}
        {% block carousel_text %}
        {% endblock %}
    {% endembed %}
</div>