<!-- Content Type: Carousel Pulled Right With Text -->
<div class = "col-12 col-md-6 pt-4">
    {{content.text}}
</div>
<div class = "col-12 col-md-6 pt-4">
    {% set carousel_id = "carousel-pulled-right-with-text" %}
    {% embed "lms/embeds/lesson-carousel.twig" %}
    {% endembed %}
</div>