<!-- Content Type: Carousel Pulled Right With Text -->
<div class = "col-12 col-md-6 pt-4">
    {% include "lms/embeds/content/text-block.twig" %}
</div>
<div class = "col-12 col-md-6 pt-4">
    {% set carousel_id = "carousel-pulled-right-with-text" %}
    {% embed "lms/embeds/content/lesson-carousel.twig" %}
        {% block carousel_text %}
        {% endblock %}
    {% endembed %}
</div>