<!-- Content Type: Carousel Full Width With Text -->
<div class = "container-fluid my-5 p-0">
    <div class = "row"> 
        <div class = "col-12 px-0 pt-4">
            {% set carousel_id = "carousel-full-width-with-text" %}
            {% embed "lms/embeds/lesson-carousel.twig" %}
            {% endembed %}
        </div>
    </div>
</div>