<!-- Content Type: Carousel Container Width Without Text -->
<div class = "container my-5">
    <div class = "row">
        <div class = "col-12 pt-4">
            {% set carousel_id = "carousel-container-width-without-text" %}
            {% embed "lms/embeds/lesson-carousel.twig" %}
                {% block carousel_text %}
                {% endblock %}
            {% endembed %}
        </div>
    </div>
</div>