<!-- Content Type: Carousel Container Width With Text -->
<div class = "container my-5">
    <div class = "row">
        <div class = "col-12 pt-4">
            {% set carousel_id = "carousel-container-width-with-text" %}
            {% embed "lms/embeds/lesson-carousel.twig" %}
            {% endembed %}
        </div>
    </div>
</div>