<!-- Content Type: Carousel Pulled Left Without Text -->
<div class = "container my-5">
    <hr>
    <div class = "row">
        <div class = "col-12 col-md-6 pt-4">
            {% set carousel_id = "carousel-pulled-left-without-text" %}
            {% embed "lms/embeds/lesson-carousel.twig" %}
                {% block carousel_text %}
                {% endblock %}
            {% endembed %}
        </div>
        <div class = "col-12 col-md-6 pt-4">
            {{content.text}}
        </div>
    </div>
</div>