{# Choose base on which to extend this template #}
{% extends "base.twig" %}

{# Import macros for use in this template #}
{% import "mixins.twig" as mixin %}

{# Set lesson number #}
{% set lesson_number=0 %}
{% for lesson in sub_unit_meta.unit_lessons %}
    {% if lesson.ID == post.ID %}
        {% set lesson_number=loop.index %}
    {% endif %}
{% endfor %}

{# Twig block to be included in Base.twig #}
{% block content %}
    <div class="wrapper single-lesson-wrapper" id="page-wrapper" xmlns="http://www.w3.org/1999/html">

        {# Include mobile progress component #}
        {% include '/lms/embeds/lesson-progress-mobile.twig' %}
        {# Include desktop progress component #}
        {% include '/lms/embeds/lesson-sidebar.twig' %}
        {# Include lesson header component #}
        {% include '/lms/embeds/lesson-header.twig' %}
        
        <!-- Lesson Content-->
        {% set lesson_post = post %}
        {% include '/lms/embeds/lesson-content.twig' %}
        <!-- Bottom navigation-->
        <div id = "navigation-links"  class = "container-fluid my-4 py-4">
            <div class = "container">
                <hr>
                <div class="row ">
                    <div class="lesson-navigation-bottom col-12 col-md-4 text-center py-1">
                        {% if sub_unit_meta.nav.prev %}
                            {% include "/lms/embeds/lesson-navigation/prev-lesson-button.twig" %}
                        {% endif %}
                    </div>
                    <div class="col-12 col-md-4 text-center">
                    </div>
                    <div class=" lesson-navigation-bottom col-12 col-md-4 text-center py-1">
                       {% if sub_unit_meta.nav.next %}
                            {% for feedback in post.meta('end_of_lesson_feedback') %}
                                {# If a custom feedback message has been added for this lesson, fire a modal which displays the feedback before allowing the user to continue #}
                                {% if feedback.acf_fc_layout == 'custom_feedback_message' %}
                                    {% include '/lms/embeds/modals/modal-end-lesson.twig' %}
                                    {% include "/lms/embeds/lesson-navigation/next-nav-buttons.twig" %}
                                {# If a survey has been added for this lesson, fire a modal which displays the survey before allowing the user to continue #}
                                {% elseif feedback.acf_fc_layout == 'survey' %}
                                    {% include '/lms/embeds/modals/modal-survey.twig' %}
                                    {% include "/lms/embeds/lesson-navigation/next-nav-buttons.twig" %}
                                {% endif %}
                            {% endfor %}
                            {% if not post.meta('end_of_lesson_feedback') %}
                                    {% include "/lms/embeds/lesson-navigation/next-nav-buttons.twig" %}
                            {% endif %}
                       {% else %}
                            {# If there is no next lesson then assume it is the last lesson of the course#}
                            {% include '/lms/embeds/modals/modal-end-course.twig' %}
                            {% include "/lms/embeds/lesson-navigation/end-course-button.twig" %} 
                       {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div><!-- #wrapper -->

{% endblock %}
