{# Choose base on which to extend this template #}
{% extends "base.twig" %}

{# Import macros for use in this template #}
{% import "mixins.twig" as mixin %}

{# Twig block to be included in Base.twig #}
{% block content %}
    <div class="wrapper single-course-wrapper" id="page-wrapper" xmlns="http://www.w3.org/1999/html">
        {# Testing the asset inclusion #}
        <div class="row">
            <div class="col-12">
                <h1>Single Course</h1>
                {{ post.content }}
            </div>
        </div>
    </div><!-- #wrapper -->
{% endblock %}
