/* ==========================================================================
* Global LMS modal
*
* Styling specific to the lms modal
*
 ========================================================================== */

.lms-global-modal {
    button.close {
        position: absolute;
        right: 1rem;
        top: 1rem;
    }
    .modal-content {
        border: 3px solid $brand-primary__colour;
    }
}
