/* ==========================================================================
* Login area
*
* Styling specific to login page template template-login.twig
*
 ========================================================================== */

@media only screen and (min-width: 768px) {
  .sidebar {
    border-left: 1px solid #202632;
  }
}

@media only screen and (max-width: 768px) {
  .sidebar {
    display: none;
  }
}

.login {
  &-wrapper {
    justify-content: center;
  }
  &-row {
    align-items: center;
  }
  &-language-button {
    border: 1px solid $grey-tertiary;
    border-radius: 5px;
    color: #787878;
    &:hover {
      background-color:$grey-tertiary;
      color: $white;
    }
  }
  .active {
    background-color: $grey-tertiary;
  }
  &-language-label {
    color: $grey-tertiary;
    font-size: 16px;
  }
  &-form {
    margin: 0 auto;
    max-width: 500px;
    padding-top: 30px;
  }
}

//User is remembered by default, so we hide the 'remember me' checkbox
.login-remember {
  display: none;
}

/*
 * Custom form styling - due to pulling in the form with wp_login_form, we have to target IDs and use flexbox to display items correctly
 */

#fw-form-login {

  %login-inputs {
    display: flex;
    flex-direction: column;
    text-align: left;
    label {
      font-weight: bold;
    }
    input {
      border: 1px solid $brand-primary__colour;
      color: $grey-tertiary;
      padding: 10px;
    }
  }

  .login-username {
    @extend %login-inputs;
  }
  .login-password {
    @extend %login-inputs;
  }
  //Custom styling for the login in button
  .login-submit {
    display: flex;
    justify-content: stretch;
    margin-top: 50px;

    #fw-submit {
      background-color: $brand-primary__colour;
      border-radius: 5px;
      color: #fff;
      font-family: $base-header__font-family;
      font-size: 21px;
      padding: 10px;
      width: 100%;
    }
  }
}

