/* ==========================================================================
* Resources Area
*
* Styling specific for the public resources page
*
 ========================================================================== */

.resources-wrapper {

  .category-filter {
    border-radius: .25rem;
  }

  input[name="filter-resources"] {
    display: none;
  }

  .resource-filter {
    border: 2px solid $brand-primary__colour;
    border-radius: 10px;
    color: $brand-primary__colour;
    padding: 8px;
    &:hover {
      background-color: $brand-primary__colour;
      color: white !important;
      cursor: pointer;
    }
  }

  .resource-loader {
    svg {
      @include breakpoint(tablet) {
        width: 300px;
        height: 300px;  
      }
      fill: $brand-primary__colour;
    }
  }

  .video-duration-loader {
    svg {
      width: 15px;
      height: 15px;
      stroke: $text-primary__colour;
    }
  }

  .resource-expander {
    background: none;
    border: none;
    color: $brand-primary__colour;
    padding: 0;
    &:hover {
      text-decoration: underline;
    }
    &:focus {
      border: none;
      outline: none;
    }
  }

  .resource-image {
    border-radius: .25rem .25rem 0 0;
    cursor: pointer;
    min-height: 200px;
  }

  .card-body {
    @include breakpoint(tablet) {
      min-height: 320px;
      height: 100%;
    }
    
  }
}
