/* ==========================================================================
* Single Lesson Area
*
* Styling specific to the lesson page, single-lesson.twig
*
 ========================================================================== */

#end-lesson-modal {
    .lesson-progress-modal {
        .lesson-progress-module-number {
            h4 {
                line-height: 50px;
            }
        }
        .lesson-progress-markers {
            overflow: scroll;
            flex-wrap: nowrap;
        }
        .lesson-progress-marker {
            z-index: 1;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: $grey-secondary;
            &.current {
                border: 2px solid;
                width: 24px;
                height: 24px;
                background: $module0-secondary__colour !important;
            }

        }

        .lesson-progress-divider {
            min-width: 10px;
            min-height: 20px;
            position: relative;
            &:before {
                content: "";
                background: linear-gradient(90deg, white 50%, transparent 50%, transparent 0), #ccc;
                background-size: 7px auto;
                height: 4px;
                width: calc(100% + 2px);
                border-radius: 0;
                position: absolute;
                top: 8px;
                left:0px;

            }
            &.complete {

            }
            &:first-of-type {
                min-height: 0;
                min-width: 0;
                display: none;
                &:before {
                    display: none;

                }
            }
        }
    }
}