.single-lesson-wrapper {
  .lesson-carousel {
    a {
      &:hover {
        opacity: 0.7;
      }
    }
    .carousel-item {
      padding-top: 2rem;
    }
    .carousel-indicators {
      min-width: 290px;
      margin: 0 auto;
      bottom: auto;
      top: 0;
      li:not(.active) {
        background: $grey-secondary !important;
      }
    }
    .lesson-carousel-control {
      position: absolute;
      top: -35px;
      z-index: 5;
      @include breakpoint(desktop) {
        &-prev {
          left: 25%;
        }
        &-next {
          right: 25%;
        }
      }
      @include breakpoint(tablet) {
        &-prev {
          left: 20%;
        }
        &-next {
          right: 20%;
        }
      }
      @include breakpoint(phone) {
        &-prev {
          left: 0;
        }
        &-next {
          right: 0;
        }
      }
      &-icon {
        svg {
          width: 75px;
          height: 75px;
        }
      }
    }

    .lesson-carousel-text {
      p {
        text-align: inherit;
      }
    }
    .lesson-carousel-image {
      img {
        margin: auto;
        width: auto;
        max-width: 100%;
      }
    }
  }
}
