.card {
  .header {
    align-items: center;
    &-counter {
      background-color: red;
      border-radius:  5px;
      color: #fff;
      padding: 20px;
    }
  }
  .module {
    &-progress {
      color: red;
    }
    &-nav {
      align-items: center;
      justify-content: center;
      &-button {
        background-color:  red;
        border-radius: 5px;
        color: #fff;
        height: 100%;
        flex-direction:  column;
        justify-content:  center;
        padding: 10px;
      }  
    }
  }
}