/* ==========================================================================
* Video Player
*
* Styling specific to video player
*
 ========================================================================== */
.video-grid-container {

  @include breakpoint(tablet) {
    .video-bg {
      height: 15vw;
    } 
  }

  @include breakpoint(phone) {
    .video-bg {
      height: 45vw;
    } 
  }

}

.player {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  font-size: 0;
  overflow: hidden;
  color: white;
  &:fullscreen, &:-webkit-full-screen {
    max-width: none;
    width: 100%;
  }
  .player__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .player__button {
    background:none;
    border:0;
    line-height:1;
    color:white;
    text-align: center;
    outline:0;
    cursor:pointer;
    max-width:52px;
    padding: 0.75rem;
    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
    svg {
      vertical-align: initial;
    }
    &.toggle {
      letter-spacing: 3px;
    }

  }
  .player__slider {
    width:10px;
    height:25px;
  }
  .player__start {
    display:flex;
    position: absolute;
    bottom:0;
    width: 100%;
    height: 100%;
    &:hover {
      cursor: pointer;
      span {
        opacity: 0.8;
      }
    }
    .svg-green svg {
      fill:green;
    }
  }
  .player__end {
    display:none;
    position: absolute;
    bottom:0;
    width: 100%;
    height: 100%;
    &:hover {
      cursor: pointer;
      span {
        opacity: 0.8;
      }
    }
  }

    .player__controls {
    display:none;
    position: absolute;
    bottom:0;
    width: 100%;
    font-size: 25px;
    flex-wrap:wrap;
    .settings-block {
      position: relative;
      .settings {
        display: none;
        position: absolute;
        top:-8rem;
        background-color: rgba(0,0,0,0.9);
        width: 50px;
        button {
          width: 100%;
          text-align: left;
          background-color: transparent;
          padding: 0.5rem;
          font-size: 1rem;
          color: white;
          &:hover {
            cursor: pointer;
            opacity: 0.7;
          }
        }

      }
    }
    .player__text {
      opacity:1;
      padding: 0.5rem;
      font-size: 1.5rem;
    }


    #Sound_icon {
      #mute-line {
        display: none;
      }
    }
    .muted {
      #Sound_icon {
        #mute-line {
          display: block;
        }
      }
    }
  }
  &:hover {
    .player__controls {
      //transform: translateY(0);
    }
  }

  .progress {
    flex:10;
    position: relative;
    display:flex;
    flex-basis:100%;
    height:10px;
    background-color: rgba(255,255,255,0.2);
    
  }

  .progress__filled {
    width:0%;
    height: 10px;
    background:red;
    flex:0;
    flex-basis:0%;
    position: absolute;
  }
  .progress__loaded {
    width:0%;
    height: 10px;
    background-color: rgba(255,255,255,0.5);
    flex:0;
    flex-basis:0%;
    position: absolute;
  }

  .progress-container {
    background: linear-gradient(to bottom, rgba(0,0,0,0) 25%,rgba(0,0,0,0.3) 25%);
    padding: 0.25rem 0;
    padding-right: 15px;
    padding-left: 15px;
    cursor: pointer;
  }

  .actions-container {
    background: rgba(0,0,0,0.3);
  }

  /* unholy css to style input type="range" */

  input[type=range] {
    -webkit-appearance: none;
    background:transparent;
    width: 100%;
    margin: 0 5px;
  }
  input[type=range][name="volume"] {
    width: 80px;
    margin: 0 5px;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
    background-color: rgba(255,255,255,0.2);
    border-radius: 1.3px;
    border: 0.2px solid rgba(1, 1, 1, 0);
  }
  input[type=range]::-webkit-slider-thumb {
    height: 15px;
    width: 15px;
    border-radius: 50px;
    background: #ffc600;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -3.5px;
    box-shadow:0 0 2px rgba(0,0,0,0.2);
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background-color: rgba(255,255,255,0.5);
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
    background-color: rgba(255,255,255,0.2);
    border-radius: 1.3px;
    border: 0.2px solid rgba(1, 1, 1, 0);
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(13, 13, 13, 0);
    height: 15px;
    width: 15px;
    border-radius: 50px;
    background: #ffc600;
    cursor: pointer;
  }

}






