{# Set the modal content depending on outcome #}
{%  if quiz_retry %}
    {% set modal_content =  attribute(options, lang.prefix~'quiz_outcome_retry_content') %}
{% elseif lesson_complete %}
    {% set modal_content =  attribute(options, lang.prefix~'quiz_outcome_success_content')  %}
{% endif %}
{# Set the modal ID to use to open the modal #}
{% set modal_id = "quiz-message" %}
{% embed "embeds/modals/modal-global.twig" %}
    {# Add quiz outcome header to modal #}
    {% block modal_header %}

            <div class="col-auto">
                {{source('/assets/lms/quiz_outcome.svg')}}
            </div>
            <div class="col-auto">
                <h2>{{attribute(options, lang.prefix~'quiz_outcome_header')}}</h2>
            </div>

    {% endblock %}
    {# Remove close button #}
    {% block modal_close %}
    
    {% endblock %}
    {# Add quiz modal content to modal #}
    {% block modal_body %}

        <div class="col-12">
            {{  modal_content }}
        </div>

    {% endblock %}

{% endembed %}

{# Default the modal to open #}
<script>
    jQuery(document).ready( function($) {
        $('#{{ modal_id }}').modal('show');
    });
</script>