<!-- Content Type: Video Hero -->
<div class="col-12 p-0">
    {% if content.video_source = "youtube" %}
        <div class='embed-container'>
            {{content.youtube_video}}
        </div>
    {% else %}
        {# Remove whitespace from beginning and end of the file name before appending to media url #}
        {% set video_file_name = content.video_file_name | trim %}
        {{ mixin.fullWidthVideo(media_url~video_file_name, content.holding_image, module_number) }}
    {% endif %}
</div>