<div class = "container my-5">
    <div class = "row">
        <div class = "col-sm-12 col-md-6">
             {{ mixin.videoPlayer(content.video_url, content.holding_image_url, module_number) }}
        </div>
         <div class = "col-sm-12 col-md-6">
            {{content.text}}
        </div>
    </div>
</div>