<!-- Content Type: Video Pulled Right -->
<div class = "container my-5">
    <hr>
    <div class = "row">
         <div class = "col-sm-12 col-md-6 pt-4">
            {{content.text}}
        </div>
        <div class = "col-sm-12 col-md-6 pt-4">
            {{ mixin.fullWidthVideo(content.video_file, content.holding_image, module_number) }}
        </div>
    </div>
</div>