<!-- Content Type: Video Container Width -->
<div class = "container my-5">
    <hr>
    <div class = "row">
        <div class = "col-sm-12 text-center pt-4">
            {{ mixin.fullWidthVideo(content.video_file, content.holding_image, module_number) }}
        </div>
    </div>
</div>