<!-- Content Type: Video Full Width -->
<div class="col-12 px-0 pt-4">
    {# Remove whitespace from beginning and end of the file name before appending to media url #}
    {% set video_file_name = content.video_file_name | trim %}
    {{ mixin.fullWidthVideo(media_url~video_file_name, content.holding_image, module_number) }}
</div>