<div class = "container my-5">
    <hr>
    <div class = "row">
        <div class = "col-sm-12 text-center pt-4">
            {{ mixin.videoPlayer(content.video_url, content.holding_image_url, module_number) }}
        </div>
    </div>
</div>