<!-- Content Type: Video Pulled Right -->
<div class = "container my-5">
    <hr>
    <div class = "row">
        <div class = "col-sm-12 col-md-6 pt-4">
             {{ mixin.videoPlayer(media_url~content.video_file_name, media_url~content.holding_image_file_name, module_number) }}
        </div>
         <div class = "col-sm-12 col-md-6 pt-4">
            {{content.text}}
        </div>
    </div>
</div>