<!-- Content Type: Video Pulled Right -->
<div class="col-12 col-md-6 pt-4">
    {% include "lms/embeds/content/text-block.twig" %}
</div>
<div class="col-12 col-md-6 pt-4">
    {% include "lms/content-types/video/video-player.twig" %}
</div>