<div class = "container-fluid my-5 p-0">
    <div class = "row">
        <div class = "col-sm-12 p-0">
            {{ mixin.fullWidthVideo(content.video_url, content.holding_image_url) }}
        </div>
    </div>
</div>
