<!-- Content Type: Video Container Width -->
<div class="container my-5">
    <div class="row">
        {% for video in content.video_grid %}
            {# Remove whitespace from beginning and end of the file name before appending to media url #}
            {% set video_file_name = video.video_file_name | trim %}
            {{ mixin.videoGrid(media_url~video_file_name, video.holding_image, video.caption, module_number) }}  
        {% endfor %}
    </div>
</div>