{% if sub_unit_meta.nav.prev %}
    <a href="{{fn('get_permalink',sub_unit_meta.nav.prev)}}" class="btn btn-lg module-btn-outline-{{module_number}}">
        <span class="px-2">
            {{source ('/assets/arrow_left.svg')}}
        </span>
        {{attribute(options, lang.prefix~'prev_nav_text')}}
    </a>
{% endif %}