<div id = "end-unit-modal" class="modal m-5" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Well done, Anathi!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>You have successfully completed the <strong>Word Reading</strong> unit</p>
        <p>Next unit up: <strong>Oral Reading Fluency</strong>
      </div>
      <div class="modal-footer">
            <p>Module progress component to go here</p>
            <a href = "#" class = "btn btn-outline-info">Continue {{source ('/assets/arrow_right.svg')}}</a>
      </div>
    </div>
  </div>
</div>