<button class="btn btn-lg module-btn-fill-{{module_number}} m-2" id="quiz-complete">
    {{  attribute(options, lang.prefix~'quiz_submit_button_text')  }}
    <span class="px-2">
        {{source ('/assets/arrow_right.svg')}}
    </span>
</button>