<div id="quiz-questions" class="container mt-5">
    <div class="row">
        <div class="col-12">
            {% do action('fundawande_single_quiz_content',post.id) %}
        </div>
    </div>
</div>