{#
# Footer template included in footer.php
#
#}

<div class="footer-wrapper" id="wrapper-footer">
    <footer id="site-footer" class="py-2">
        <div class="container">
            <div class="row justify-content-md-between justify-content-center">
                <!-- Copyright Info -->
                <div class="col-auto align-self-center ">
                    <span class="footer-nav-text">&copy; Funda Wande</span>
                </div>
                <!-- Footer Links -->
                <div class="col-md-auto col-12 align-self-center flex-first flex-md-last mt-3 mt-md-0 text-center">
                {% for footer_link in options.footer_links %}
                    <a target="_blank" class="align-self-center d-md-inline-block d-block  pl-md-4 pr-md-0 px-2" href="{{footer_link.link}}">
                        {% if lang.id == 'eng' %} 
                            {{footer_link.eng_title}} 
                        {% else %} 
                            {{footer_link.xho_title}} 
                        {% endif %}
                    </a>
                {% endfor %}
                </div>
            </div>
        </div>
    </footer>
</div>