
<div class="wrapper" id="wrapper-footer">
    <footer id="footer" class="site-footer" role="contentinfo">

        <div class="container">

            <div class="row">
                <div class="col-12">

                </div><!--col end -->

            </div><!-- row end -->

        </div><!-- container end -->
    </footer><!-- #footer -->

</div><!-- wrapper end -->