<!-- ******************* The Navbar Area ******************* -->
<div class="wrapper-fluid wrapper-navbar " id="wrapper-navbar">
    <p>Navbar</p>
    {% block navbar_modals %}

    {% endblock %}

</div><!-- .wrapper-navbar end -->