<!-- ******************* The Navbar Area ******************* -->
<div class="wrapper-fluid wrapper-navbar " id="wrapper-navbar">

    {% block navbar_modals %}

    {% endblock %}

</div><!-- .wrapper-navbar end -->