<!-- Sidebar Media: Video -->
<div class = "container mx-0 px-0">
    <div class = "row mx-0">
        <div class = "col-sm-12 mx-0 px-0 text-center">
            <div class = "embed-container">
                {{content.video_url}}
            </div>
        </div>
    </div>
</div>