<!-- Sidebar Media: Video -->
<div class = "container">
    <div class = "row">
        <div class = "col-sm-12 text-center">
            <div class = "embed-container">
                {{content.video_url}}
            </div>
        </div>
    </div>
</div>