<!-- Sidebar Media: Image -->
<div class = "container">
    <div class = "row">
        <div class = "col-sm-12 text-center">
            <img class = "img-fluid w-100" src = {{media_url~content.image_file_name}}>
        </div>
    </div>
</div>
