<h5 class = "mt-4 login-language-label text-bold">Change language/Tshintsha ulwimi</h5>
<form method="GET">
    <div class = "btn-group" role = "group" aria-label="Change Language buttons">
            <button class = "btn login-language-button {% if lang.id == 'eng'%} active-button {% endif %}" type = "submit" name = "login_lang" value ="eng">English</button>
            <button class = "btn login-language-button {% if lang.id == 'xho'%} active-button {% endif %}" type = "submit" name = "login_lang" value ="xho">Xhosa</button>
    </div>
</form>