{% import "mixins.twig" as mixin %}

{% block content %}
{% set videoResourceData = [] %}
    {% for resource in resources %}
        {% if resource.custom.resource_type == 'Video' %}
            {% 
            set videoResourceData = {
                media: resource.custom.video_media,
                title: resource.post_title,
                date: resource.date,
                description: resource.cusotm.video_description
            } 
            %}
            <div class="col-md-4">
                {{ mixin.videoResourceItem(videoResourceData) }}
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}