<!-- Content Type: PDF Container Width -->
<div class = "container my-5">
    <div class = "row">
        <div class = "col-12 text-center m-auto py-4" style="max-width: 510px;">
            {% include "lms/embeds/pdf-image.twig" %}
        </div>
    </div>
</div>
