<!-- Content Type: PDF Pulled Right -->
<div class="col-12 col-md-6 pt-4">
    {{content.text}}
</div>
<div class="col-12 col-md-6 mx-auto pt-4 fw-media">
    {{mixin.pdfImage(pdfCols, content.file, content.holding_image, module_number)}}
</div>